.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 72px;
}

.paginationNumbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.pagination span,
.pagination button {
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    background: unset;
    border: unset;
    transition: 0.3s;
}

.arrow:hover {
    color: #2231AA;
}

.arrow:hover .svg{
    fill: #2231AA;
}

.svg {
    transition: 0.3s;
}

.arrow:disabled, .arrow:disabled .svg{
    color: #8D8E97;
    fill: #8D8E97;
    cursor: auto;
}

.arrow:disabled:hover, .arrow:disabled:hover .svg{
    color: #8D8E97;
    fill: #8D8E97;
}

.dark {
    fill: #FFFFFF;
    color: #FFFFFF;
}

.darkGrey {
    color: #8D8E97;
}

.active {
    color: #5360CD;
}

@media screen and (max-width: 450px) {
    .paginationNumbers {
        gap: 22px;
    }
}