.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.authLink,
.homeLink {
    text-decoration: none;
    color: #313037;
    transition: 0.3s;
}

.authLink:hover,
.homeLink:hover {
    color: #5360CD;
}

.currentPost {
    border-left: 2px solid #8D8E97;
    padding-left: 8px;
    color: #8D8E97;
}

.dark {
    color: #8D8E97;
}

@media screen and (max-width: 320px) {
    .breadcrumbs {
        padding-bottom: 28px;
    }
}